<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/assets/stylesheet/styles.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <title>Feeds</title>
</head>
<body>
    
    <div class="newpost-form">
        <form action="/feeds/addPost" method="post">
            <textarea rows = "2" cols = "60" name = "title" placeholder="What's New Around?" required></textarea><br>
            <textarea rows = "5" cols = "60" name = "description" placeholder="Description"></textarea><br>
            <button type="submit">Post</button>
        </form>    
    </div>

    <br><br>

    <div class="post-box">
            <% for(var i=0;i<feeds.length;i++){ %>
                <div class="post-title">
                    <%= feeds[i].title %>
                </div>
                <% if(feeds[i].description){ %>
                <div class="post-description">
                    <%= feeds[i].description %>
                </div>        
                <% } %>
                <div class="post-date">
                    Posted on: <%= feeds[i].date.split('T')[0] %>        
                </div>
                <br>
            <%}%>   
    </div>
</body>
</html>