<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
    <form id="login-form" method="POST" action="/user/login">
    <table class="login-form">
        <tr>
            <td><input type="text" id="UserName" name="UserName" placeholder="Username"></td>
        </tr>

        <tr>
            <td><input type="password" id="Password" name="Password" placeholder="Password"></td>
        </tr>
            
        <tr>
            <td><button class="Login-button" type="submit">Login</button></td>
        </tr>
    </table>
    </form>

    <a href="/user/signup">New User? Register here.</a>
</body>

</html>