/* Login page styles */

.login-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 500px;
    margin-top: 70pt;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    max-height: 500px;
    max-width: 500px;
    min-width: 300px;
}
  
.login-card:hover {
    box-shadow: 0 8px 13px 0 rgba(0,0,0,0.2);
}

.login-form-table{
	width: 100%;
    font-family: 'Poppins','sans-serif';
}

.login-form-table td{
	padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    text-align: center;
}

.login-form-table h1{
    margin-top: 0;
}

.login-form-table input{
    width: 65%;
    padding: 8px;
    font-size: 13px;
    border-radius: 5px;
    border: 0.5px solid #ccc;
    resize: vertical;
    font-family: 'Poppins','sans-serif';
}

.login-form-table p{
    margin-right: 60px;
    margin-left: 60px;
    padding: 8px;
    font-size: 12px;
    border-radius: 5px;
    color: rgb(202, 6, 6);
    border: 0.5px solid rgb(202, 6, 6);
    resize: vertical;
    font-family: 'Poppins','sans-serif';
}

.Login-button{
    font-size:12px;
    text-decoration: none;
	background-color: #EEEEEE;
	border: 0px;
    border-radius:10px;
    color: white;
    padding: 6px 60px 6px 60px;
    background-color:#4CAF50;
}

.login-form-table a{
    font-size: 12px;
    font-family: 'Poppins','sans-serif';
    margin-top: 0px;
}



/* SignUp Page styles */

.signup-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 500px;
    margin-top: 60pt;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    min-width: 300px;
}
  
.signup-card:hover {
    box-shadow: 0 8px 13px 0 rgba(0,0,0,0.2);
}

.signup-form-table{
	width: 100%;
    font-family: 'Poppins','sans-serif';
}

.signup-form-table td{
	padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    text-align: center;
}

.signup-form-table input{
    width: 65%;
    padding: 8px;
    font-size: 13px;
    border-radius: 5px;
    border: 0.5px solid #ccc;
    resize: vertical;
    font-family: 'Poppins','sans-serif';
}

.signup-form-table p{
    margin-right: 60px;
    margin-left: 60px;
    padding: 8px;
    font-size: 12px;
    border-radius: 5px;
    color: rgb(202, 6, 6);
    border: 0.5px solid rgb(202, 6, 6);
    resize: vertical;
    font-family: 'Poppins','sans-serif';
}

.signup-form-table select{
    width: 69%;
    padding: 8px;
    font-size: 13px;
    border-radius: 5px;
    border: 0.5px solid #ccc;
    resize: vertical;
    font-family: 'Poppins','sans-serif';
    color: grey;
}

.signup-button{
    font-size:12px;
    text-decoration: none;
	background-color: #EEEEEE;
	border: 0px;
    border-radius:10px;
    color: white;
    padding: 6px 60px 6px 60px;
    background-color:#4CAF50;
}

.signup-form-table a{
    font-size: 12px;
    font-family: 'Poppins','sans-serif';
    margin-top: 0px;
}

/* Feeds Page styles */

/* Page header styles */
.page-header {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    min-width: 300px;
}

.page-header p{
    font-family: 'Poppins','sans-serif';
    text-align: center;
    font-size: 40px;
}

/* Create post styles */
.newpost-form{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    min-width: 300px;
}

.newpost-form textarea{
    resize: none;
    width: 99%;
    font-size: 13px;
    border-radius: 5px;
    border: 0.5px solid #ccc;
    font-family: 'Poppins','sans-serif';
}

.newpost-form button{
    float: right;
    font-size:11px;
    text-decoration: none;
	background-color: #EEEEEE;
	border: 0px;
    border-radius:3px;
    color: white;
    padding: 5px 45px 5px 45px;
    background-color:#4CAF50;
    margin-right: 5px;
}

/* Show posts css */
.post-box{
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    min-width: 300px;
    font-family: 'Poppins','sans-serif';
}

.post-box p{
    text-align: center;
    border: solid 1px grey;
    font-size: 18px;
}

.post-title{
    font-size: 14px;
}

.post-description{
    font-size: 12px;
}

.post-date{
    font-size: 9px;
}

hr{
    border-width: 0.5px;
}

/* Logout styles */

.logout{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logout button{ 
    font-size:13px;  
    color: rgb(26, 26, 26);
    background-color: white;
    border: 1px solid rgb(201, 0, 0);
    padding: 5px 40px 5px 40px;  
    border-radius: 5px;
}

.logout button:hover {
    background-color:rgb(201, 0, 0); 
    color: white;
  }

